
.mb-box{
    border: 1px solid #ddd;
    padding: 0px;
    height: 300px !important;
 }

 .mb-img-box{
    max-height: 60px;
    max-width: 60px;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin: 1px;
    margin-top: 20px;
  }
  
  .mb-img-size{
    max-width: 60px;
    max-height: 60px;
  }

 .mb-top{
     margin-top: -40px;
 }
